<?xml version="1.0"?>

<document>
    <body>

        <img src="graphab.png"/>

        <section name="Modeling ecological networks using landscape graphs">
            <p>
            </p>

            <subsection name="Download">
                <p>
                    Download last version : <a href="http://dev.umrthema.univ-fcomte.fr/repository/org/thema/${project.artifactId}/${project.version}/${project.artifactId}-${project.version}.jar">${project.version}</a>
                </p>
                <p>
                    View changelog : <a href="changelog.html">changelog</a>
                </p>
                <p>
                    Download previous version : <a href="http://dev.umrthema.univ-fcomte.fr/repository/org/thema/${project.artifactId}/">Previous versions</a>
                </p>
            </subsection>
            <subsection name="Documentation">
                <p>
                    User manual :
                    <ul>
                        <li>User manual (EN) <a href="manual-en.pdf">[PDF]</a> <a href="doc_en.html">[HTML]</a></li>
                        <li>Manuel d'utilisation (FR) <a href="manual-fr.pdf">[PDF]</a> <a href="doc_fr.html">[HTML]</a></li>
                    </ul>
                </p>
                <p>
                    Command line interface documentation :
                    <ul>
                        <li>CLI reference manual (english) <a href="reference_cli-en.pdf">[PDF]</a> <a href="ref_cli_en.html">[HTML]</a></li>
                        <li>CLI reference manual (french) <a href="reference_cli-fr.pdf">[PDF]</a> <a href="ref_cli_fr.html">[HTML]</a></li>
                    </ul>
                </p>
                
            </subsection>
        </section>
    </body>
</document>
