<?xml version="1.0"?>

<document>
    <body>

        <section name="CLI reference manual">
            <iframe src="reference_cli-en.html" width="100%" height="1000"></iframe>
        </section>
    </body>
</document>
