<?xml version="1.0"?>
<project name="${project.name}">
    <bannerLeft>
        <name>${project.name}</name>
    </bannerLeft>
    <body>
        <menu name="Project">
            <item name="Download" href="index.html"/>
	    <item name="Changelog" href="changelog"/>
            <item name="Javadoc" href="apidocs/index.html"/>
        </menu>
        <menu ref="reports"/>
    </body>
</project>
